{% extends 'classroom/base.html'%}
{% block content %}
<center>
<h3>Password Reset Mail Sent</h3>
<p>
    We have emailed you the instructions to reset the password,<br>
    If you have the account registered with this email, you should recieve the mail shortly.
</p>

<p>
    If you dont recieve the recieve am email, make sure you have entered correct email address <br>
    with you registered,<br>
    Or check your <b> spam </b> folder
</p>



</center>
{% endblock content %}
