{% extends 'classroom/base.html'%}
{% block content %}
<center>
{% if validlink %}
<h3>Enter New Password</h3>
<p>Please enter your new password, Confirm Passowrd for verification.</p>
<form method="POST">
    {% csrf_token %}
    {{form}}
    <input type="Submit" value="Update Password">
</form>
{% else %}
<h3>Invalid link</h3>
<p>This link is Invalid/Used already.. <br><a style="color: black;" href="{% url 'reset_password' %}">Submit password reset request again </a> </p>
</center>
{% endif %}
{% endblock content %}
